@media screen and (max-width:1000px) {
   /* Hiding the icon for nav-link on small screens */
   nav .nav-link i{
        display: none ;
    }
}
@media (max-width: 750px) {
    .profile-container { grid-template-columns: repeat(2, 1fr); }
    .project-container { grid-template-columns: repeat(2, 1fr); }
  }
@media (max-width: 400px) {
    .profile-container { grid-template-columns: repeat(1, 1fr); }
    .project-container { grid-template-columns: repeat(1, 1fr); }
  }
  